[submodule "nvim"]
	path = nvim
	url = https://github.com/Doomwhite/nvim.git
[submodule ".glaze-wm"]
	path = .glaze-wm
	url = https://github.com/Doomwhite/.glaze-wm.git
[submodule "komorebi"]
	path = komorebi
	url = https://github.com/Doomwhite/komorebi.git
[submodule ".yasb"]
	path = .yasb
	url = https://github.com/Doomwhite/.yasb.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/Doomwhite/wezterm.git
[submodule "altsnap"]
	path = altsnap
	url = https://github.com/Doomwhite/altsnap.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/Doomwhite/alacritty.git
[submodule "gpg"]
	path = gpg
	url = https://github.com/Doomwhite/gpg.git
[submodule "irfanview"]
	path = irfanview
	url = https://github.com/Doomwhite/irfanview.git
[submodule "pcsx2"]
	path = pcsx2
	url = https://github.com/Doomwhite/pcsx2.git
[submodule "lf"]
	path = lf
	url = https://github.com/Doomwhite/lf.git
[submodule "vscode"]
	path = vscode
	url = https://github.com/Doomwhite/vscode.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/Doomwhite/spacemacs.git
